body {
    background-color: #eee
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.close:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.mt-200 {
    margin-top: 200px
}

#form1 {

display:none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 10;
}

#form2 {
  display:none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 10;
}

.myTable table, th, td{
  border:1px solid black;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
  border: 3px;
  z-index: 10;
}


.form-container {
  max-width: 60%;
  padding: 20px;
  background-color: white;
}

.form-container2 {
  width: 100%;
  padding: 30px 0 60px;
  justify-content: center;
  background-color: white;
}
